@require 'reset';
@require 'typography';
@require 'colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: FONT.stack;
    font-size: FONT.size;
    line-height: FONT.lineHeight;
    color: COLORS.black.light;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: COLORS.grey.light;
}

