COLORS = {
    black: {
        "light": #555555,
        "main": #212121,
        "dark": #000
    },
    grey: {
        "light": #ececec,
        "main": #e1e1e1,
        "dark": #818181
    },
    brand: {
        "main": #ec0f50
    },
    white: {
        "main": #fff
    },
};