html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1.333333333333333;
}
p,
a,
li {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.333333333333333;
}
p {
  margin-bottom: 0.938rem;
}
h1,
.h1 {
  font-size: 3.16rem;
  margin-bottom: 1.438rem;
}
h2,
.h2 {
  font-size: 2.37rem;
  margin-bottom: 1.313rem;
}
h3,
.h3 {
  font-size: 1.778rem;
  margin-bottom: 1.375rem;
}
h4,
.h4 {
  font-size: 1.333rem;
  margin-bottom: 1.25rem;
}
h5,
.h5 {
  font-size: 0.75rem;
  margin-bottom: 0.875rem;
}
input,
select,
textarea,
button {
  font-family: inherit;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.333333333333333;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #ececec;
}
